  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header" align="center">
      <img class="img-circle" id="img_logo" src="http://softweb.pe/bimbo/views/login/img/photoNegro.png">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div> 
    <!-- Begin # DIV Form -->
    <div id="div-forms">
      <!-- Begin # Login Form -->
      <form id="login-form">
        <div class="modal-body">
          <div id="div-login-msg">
            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-login-msg">Ingrese su usuarioy contraseña</span>
          </div>
          <input id="login_username" class="form-control" type="text" placeholder="Usuario">
          <input id="login_password" class="form-control" type="password" placeholder="Contraseña">
        </div>
        <div class="modal-footer">
          <div>
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
          </div>
          <div>
            <button id="login_lost_btn" type="button" class="btn btn-link">Olvidó su contraseña?</button>
            <a href="#/registro" class="btn btn-link registro_btn">Registrarse</a>
          </div>
        </div>
      </form>
    <!-- End # Login Form -->                 
    <!-- Begin | Lost Password Form -->
    <form id="lost-form" style="display:none;">
      <div class="modal-body">
        <div id="div-lost-msg">
          <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
          <span id="text-lost-msg">Ingrese su correo</span>
        </div>
        <input id="lost_email" class="form-control" type="text" placeholder="Correo">
      </div>
      <div class="modal-footer">
        <div>
          <button type="submit" class="btn btn-primary btn-block">Enviar Contraseña</button>
        </div>
        <div>
          <button id="lost_login_btn" type="button" class="btn btn-link">Login</button>
          <a href="#/registro" class="btn btn-link registro_btn">Registrarse</a>
        </div>
      </div>
    </form>
    <!-- End | Lost Password Form -->
    </div>
    <!-- End # DIV Form -->   
  </div>
</div>


<script type="text/javascript">
  $(function() {
    
    var $formLogin = $('#login-form');
    var $formLost = $('#lost-form');
    var $formRegister = $('#register-form');
    var $divForms = $('#div-forms');
    var $modalAnimateTime = 300;
    var $msgAnimateTime = 150;
    var $msgShowTime = 2000;

    $("form").submit(function () {
        switch(this.id) {
            case "login-form":
                var $lg_username=$('#login_username').val();
                var $lg_password=$('#login_password').val();
                if ($lg_username == "ERROR") {
                    msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#text-login-msg'), "error", "glyphicon-remove", "Login error");
                } else {
                    msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#text-login-msg'), "success", "glyphicon-ok", "Login OK");
                }
                return false;
                break;
            case "lost-form":
                var $ls_email=$('#lost_email').val();
                if ($ls_email == "ERROR") {
                    msgChange($('#div-lost-msg'), $('#icon-lost-msg'), $('#text-lost-msg'), "error", "glyphicon-remove", "Send error");
                } else {
                    msgChange($('#div-lost-msg'), $('#icon-lost-msg'), $('#text-lost-msg'), "success", "glyphicon-ok", "Send OK");
                }
                return false;
                break;
            default:
                return false;
        }

        return false;
    });

    $("form").click(function () {
      $(".close").click();
    });
    
    $('#login_register_btn').click( function () { modalAnimate($formLogin, $formRegister) });
    $('#register_login_btn').click( function () { modalAnimate($formRegister, $formLogin); });
    $('#login_lost_btn').click( function () { modalAnimate($formLogin, $formLost); });
    $('#lost_login_btn').click( function () { modalAnimate($formLost, $formLogin); });
    $('#lost_register_btn').click( function () { modalAnimate($formLost, $formRegister); });
    $('#register_lost_btn').click( function () { modalAnimate($formRegister, $formLost); });
    
    function modalAnimate ($oldForm, $newForm) {
        var $oldH = $oldForm.height();
        var $newH = $newForm.height();
        $divForms.css("height",$oldH);
        $oldForm.fadeToggle($modalAnimateTime, function(){
            $divForms.animate({height: $newH}, $modalAnimateTime, function(){
                $newForm.fadeToggle($modalAnimateTime);
            });
        });
    }
    
    function msgFade ($msgId, $msgText) {
        $msgId.fadeOut($msgAnimateTime, function() {
            $(this).text($msgText).fadeIn($msgAnimateTime);
        });
    }
    
    function msgChange($divTag, $iconTag, $textTag, $divClass, $iconClass, $msgText) {
        var $msgOld = $divTag.text();
        msgFade($textTag, $msgText);
        $divTag.addClass($divClass);
        $iconTag.removeClass("glyphicon-chevron-right");
        $iconTag.addClass($iconClass + " " + $divClass);
        setTimeout(function() {
            msgFade($textTag, $msgOld);
            $divTag.removeClass($divClass);
            $iconTag.addClass("glyphicon-chevron-right");
            $iconTag.removeClass($iconClass + " " + $divClass);
      }, $msgShowTime);
    }
});

</script>