<div class="container">
	<div class="col-md-4">
		<h3>Ventajas de estar registrado</h3>
		<li>Es totalmente gratuito y tardarás menos de 2 minutos.</li>
		<li>Podrás inscribir tu/s perro/s en la comunidad</li>
		<li>Podrás participar en el foro, publicar fotos, conocer a más amigos y también, aprender cosas nuevas</li>
		<li>Podrás votar y dejar tus comentarios en los artículos, fotos de los usuarios y otras muchas secciones</li>
	</div>
	<div class="col-md-4" id="div-registro"></div>
</div>

<script id="registro-template" type="text/x-handlebars-template">
  	<div class="form-group">
	   <label class="control-label" for="txtUsuario">Nombre de Usuario</label><span class="texto-validacion"></span>
	   <input type="text" class="form-control" id="txtUsuario" placeholder="">
	</div>
	<div class="form-group">
	   <label class="control-label" for="txtCorreo">Correo Electrónico</label><span class="texto-validacion"></span>
	   <input type="text" class="form-control" id="txtCorreo" placeholder="">
	</div>
	<div class="form-group">
	   <label class="control-label" for="txtCorreoRepetir">Repetir Correo Electrónico</label><span class="texto-validacion"></span>
	   <input type="text" class="form-control" id="txtCorreoRepetir" placeholder="">
	</div>
	<div class="form-group">
	   <label class="control-label" for="txtContrasenia">Contraseña</label><span class="texto-validacion"></span>
	   <input type="password" class="form-control" id="txtContrasenia" placeholder="">
	</div>
	<div class="form-group">
	   <label class="control-label" for="txtContraseniaRepetir">Repetir Contraseña</label><span class="texto-validacion"></span>
	   <input type="password" class="form-control" id="txtContraseniaRepetir" placeholder="">
	</div>
	<button type="submit" class="btn btn-primary" id="btnGuardarPaso1">Guardar y Pasar al Paso 2</button>
</script>